

.footer {
  @apply bg-zinc-950 lg:px-28 items-start justify-center mx-auto w-full;
  a {
    @apply text-zinc-400 text-[0.75rem] font-[200] ;
  }
  ul{
    @apply space-y-2
  }
  li {
    @apply text-zinc-200 text-lg;
  }
  h3 {
    @apply text-white text-3xl font-bold text-center py-4;
  }
}
.top-footer{
  @apply flex py-4 p-8 lg:px-28 items-center justify-center mx-auto bg-zinc-900;
  .h2-glow{
    @apply text-white text-5xl font-bold tracking-wide opacity-80;
  }
}
.footer-column{
  @apply  w-full md:w-1/3 mb-6 md:mb-0;
  h4 {
    @apply text-lg font-semibold mb-4;
  }
  h2 {
    @apply text-3xl font-semibold mb-4;
  }
}
.bottom-footer{
  @apply flex py-4 p-8 lg:px-28 items-center justify-center mx-auto bg-black;
  .h2-glow{
    @apply text-white text-5xl font-bold tracking-wide opacity-80;
  }
}
