

.hero {
  @apply flex flex-col items-center justify-center min-h-[724px] lg:min-h-[1080px] relative bg-zinc-950 bg-cover bg-center lg:px-8 py-8 lg:space-y-4 ;
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-white font-bold text-5xl;
  }
  p{
    @apply mt-1 text-gray-400 text-xl text-center font-bold;
  }
  button{
    @apply mt-8 bg-[#35cc91] hover:bg-[#00bf63] text-white text-xl py-2 px-5 rounded-full font-medium;
  }
}
