@import "tailwindcss";

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #ffffff; /* white */
  --color-primary: #00DC82;
  --color-primary-hover: #00bf63;
}

@font-face {
  font-family: 'SF Pro TH';
  src: url('/fonts/sf-pro-th/SFProTH.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/sf-pro-text/sf-pro-text_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/sf-pro-text/sf-pro-text_semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/sf-pro-display_semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'SF Pro Text', 'SF Pro Display', 'SF Pro TH', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 2;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.box-animate {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0;
}

.test-glow {
  color: white;
  text-shadow:
    0 0 21px #fff,
    0 0 11px #0fa,
    0 0 38px #0fa;
}

.element {
  background-color: radial-gradient(ellipse at center, #000303, #ff4500);
  height: 200px;
  width: 200px;
}